<template>
  <div>
    {{ form }}
    <form @submit.prevent="submit">
      <div>
        <label for="email">
          Email
        </label>
        <input type="text" name="email" id="email" v-model="form.email">
      </div>
      <div>
        <label for="password">
          Password
        </label>
        <input type="password" name="password" id="password" v-model="form.password">
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</template>

<script>
// @ is an alias to /src
// import axios from 'axios';
import { mapActions } from 'vuex';

export default {
  name: 'SignIn',
  components: {

  },
  data() {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    ...mapActions({
      signIn: 'auth/signIn'
    }),
    submit() {
      this.signIn(this.form)
          .then(() => {
            this.$router.replace({
              name: 'dashboard'
          })
          .catch(error => {
            console.log(error)
          })
      })
    }
  }
}
</script>
