<template>
  <ul>
    <li>
      {{ user }}
      <router-link
        :to="{
          name: 'Home'
        }"
      >
        Home
      </router-link>
    </li>

    <template v-if="authenticated">
      <li>
        {{ user.name }}
      </li>
      <li>
        <router-link
            :to="{
          name: 'Dashboard'
        }"
        >
          Dashboard
        </router-link>
      </li>

      <li>
        <a href="#" @click.prevent="signOut">
          Sign out
        </a>
      </li>
    </template>

    <template v-else>
      <li>
        <router-link
            :to="{
          name: 'SignIn'
        }"
        >
          Sign in
        </router-link>
      </li>
    </template>

  </ul>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: "TheNavigation",
  computed: {
    ...mapGetters({
      authenticated: 'auth/authenticated',
      user: 'auth/user',
    })
  },
  methods: {
    ...mapActions({
      signOutAction: 'auth/signOut'
    }),
    signOut() {
      this.signOutAction().then(() => {
        this.$router.replace({
          name: 'home'
        })
      })
    }
  }
}
</script>

<style scoped>

</style>